@import "variables";

.main {
  margin: auto;
  width: 75%;
  position: relative;
  button,
  .submit {
    background-color: white;
    border-radius: $borderRadius;
  }
  button:hover,
  .submit:hover {
    background: $primaryColor;
    color: white;
    transition: 0.5s;
    border: 1px solid white;
  }
}
.nav {
  display: flex;
  margin: 2rem auto 0;
  gap: 2px;
  button {
    padding: 1rem;
    flex: 1;
  }
}
.listHeader {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
  .headSelect {
    display: flex;
    gap: 5px;
    select {
      border: none;
      border-radius: $borderRadius;
    }
  }
}
.container {
  background: $bgColor;
  border-radius: $borderRadius;
  display: flex;
  flex-direction: column;
}
.listTitle {
  margin: 2rem;
  text-align: center;
}
.list {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  gap: 5px;
}
.element,
.hoveredElement {
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: $borderRadius;
  background-color: white;
  min-height: 5em;
  margin: auto;
}

.body {
  margin-top: 1rem;
  display: flex;
  width: 100%;
}
.mainContent {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  width: 90%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  font-size: 1.2rem;
  cursor: pointer;
  .favoriteIcon:hover {
    color: gold;
  }
  .favoriteIconClicked {
    color: rgb(220, 187, 0);
  }
  .favoriteIconClicked:hover {
    color: black;
  }
  .deleteIcon:hover {
    color: red;
  }
}

.noteHead,
.content,
.category {
  padding: 0;
}
.noteHead {
  h3 {
    margin-top: 0;
  }
  flex-grow: 1;
}
.content {
  word-break: break-all;
  flex-grow: 5;
}
.hoveredElement:hover {
  min-height: 15em;
  .content {
    min-height: 7em;
    flex-grow: 8;
  }
  transition: 0.5s;
}
.noteFoot {
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
  color: $bgColor;
  .category {
    width: 60%;
  }
  .date {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
}
.listFooter {
  box-shadow: $primaryColor 0px 8px 24px;
  width: 50%;
  padding: 1em;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 93%;
}
