@font-face {
  font-family: "curlBerry";
  src: url("../public/fonts/CurlberryFree/CurlberryFree.otf");
}
@font-face {
  font-family: "coppint";
  src: url("../public/fonts/Coppint/Coppint\ Medium\ Demo.ttf");
}
body {
  background-image: linear-gradient(#9a9cea, white);
  background-attachment: fixed;
}
h1 {
  font-size: 1.5rem;
  font-family: "curlBerry";
}

h2,
h3,
input,
button {
  font-weight: 1000;
  font-size: 1rem;
  font-family: "coppint";
}
button {
  /* background: #a2dcee; */
  background-color: transparent;
}
button:hover {
  /* background: #adeee2; */
}
